[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# CS0168: Variable is declared but never used
dotnet_diagnostic.CS0168.severity = none

# CS0219: Variable is assigned but its value is never used
dotnet_diagnostic.CS0219.severity = none

# CS0665: Assignment in conditional expression is always constant
dotnet_diagnostic.CS0665.severity = none
